@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');

body {
  align-items: center;
  background-color: white;
}

.App {
  text-align: center;
  background-color: grey;
  box-shadow: 5px 5px 5px;
  font-family: 'Zen Old Mincho', serif;
  width: fit-content;
  height: fit-content;
}

.container {
  width: auto;
  height: auto;
}

.game {
  width: auto;
  width: 100vh;
}

.GameBox {
  background-color: gey;
  color: black;
}

.titleBox {
  color: black;
  font-size: 60px;
}

.infobox {
  background-color: lightblue;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  border-color: black;
  border-style: solid;
}

button {
  background-color:beige;
  color: black;
  box-shadow: 2px 2px 2px;
  border-style: solid;
  border-radius: 3px 3px 3px 3px;
}
button:disabled {
  background-color: grey;
  color: white;
}

img {
  width: 400px;
  height: 600px;
}