@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');

body {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: 'Zen Old Mincho', serif;
  background-color: rgb(129, 182, 238);
}
h1 {
  font-weight: bold;
  font-size: 5vh;
}
button {
  background-color: lightblue;
  color: rgb(56, 143, 236);
  font-size: 5vh;
  border-style: solid;
  border-color: rgb(56, 143, 236);
  border-radius: 3px 3px 3px 3px;
}
button:disabled {
  background-color: beige;
  color: rgb(56, 143, 236);
}
.resetButton {
  width: 20vh;
  height: 20vh;
  font-size: 5vh;
  border-radius: 50%;
}
img {
  width: auto;
  height: 50vh;
  max-width: 400px;
  max-height: 600px;
}