@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');

body {
  align-items: center;
  background-color: lightblue;
}

.App {
  text-align: center;
  background-color:rgb(36, 19, 19);
  font-family: 'Zen Old Mincho', serif;
  width: fit-content;
  height: fit-content;
}

.container {
  width: auto;
  height: auto;
}

.game {
  width: auto;
  width: 100vh;
}

.GameBox {
  color: grey;
}

.titleBox {
  color: bisque;
  font-size: 60px;
}

.infobox {
  background-color: beige;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  border-color: black;
  border-style: solid;
  border-radius: 15px 15px 15px 15px;
}

button {
  background-color:beige;
  color: black;
  border-color: black;
  border-style: solid;
  border-radius: 3px 3px 3px 3px;
}
button:disabled {
  background-color: black;
  color: beige;
}

img {
  width: 400px;
  height: 600px;
}